* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 140px 10px 10px;
  background-color: rgb(80, 80, 80);
}

#title {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: lightgrey;
  border: black 3px solid;
  border-radius: 10px;
  width: max-content;
  padding: 0 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* Placar */
#score-container {
  position: fixed;
  top: 0;
  width: max-content;
  margin-left: 50%;
  text-align: center;
  line-height: 0;
  transform: translateX(-50%);
  perspective: 300px;
}

#score-container #bar1 {
  content: '';
  display: inline-block;
  width: 5px;
  height: 57px;
  margin: 0 15px;
  background-color: black;
}

#score-container #bar2 {
  content: '';
  display: inline-block;
  width: 5px;
  height: 57px;
  margin: 0 15px;
  background-color: black;
}

#score-container #swing {
  position: absolute;
  display: none;
}

#score-container #plaque {
  display: block;
  background-color: rgb(50, 50, 50);
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 5px;
  font-weight: 900;
  line-height: initial;
  color: white;
  user-select: none;
  cursor: pointer;
  transform-origin: top;
  animation: none;
}

#score-container #swing:checked ~ #plaque {
  animation: balancar 1s ease-in-out infinite alternate;
}

@keyframes balancar {

  from {
    transform: rotateX(-25deg);
  }

  to {
    transform: rotateX(25deg);
  }
}

#score-container #plaque #score {
  display: block;
  padding: 5px;
  background-color: rgb(70, 70, 70);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 5px;
}

/* Sessao de descrição */
#description-section {
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgrey;
}

#description-section #rgb-text {
  display: block;
  width: fit-content;
  margin: 10px auto;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

#description-section #buttons {
  text-align: center;
}

#description-section #buttons .button {
  display: inline-block;
  margin: 10px auto 2px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgb(100, 100, 100);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

#description-section #buttons .button:hover {
  background-color: rgb(50, 50, 50);
}

/* Dificuldade */
#difficulty {
  display: inline-block;
}

#difficulty #difficulty-level {
  display: none;
  width: fit-content;
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(170, 170, 170);
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

#difficulty #difficulty-level #level {
  padding: 2px 10px;
  width: 100px;
  background-color: white;
  color: black;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
  outline: none;
}

#difficulty #difficulty-level #level:focus {
  background-color: lightgrey;
}

/* Círculos coloridos */
#game-view {
  width: fit-content;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

#game-view #answer {
  display: block;
  padding: 5px;
  font-weight: 900;
  background-color: lightgrey;
  color: black;
  border-bottom: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#game-view #color-balls {
  background-color: lightgrey;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ball {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
}

.ball:hover {
  width: 48px;
  height: 48px;
  border: 3px solid white;
}
